@import "fonts";
@import "colors";


@media only screen and (min-width: 360px) and (max-width: 767px) {
  .section {
    width: 100%;
    max-width: 1366px;
    height: 100vh;
    margin: 0 auto;
    background-color: $background-white;
    color: #000;
    font-family: $font-regular;
  }
  .nav {
    width: 21.5rem;
    margin: 0 auto;
    padding-top: 3.5rem;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .link {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .logo {
    margin-top: -0.8125rem;
    margin-left: 4.4rem;

  }
  //left container with text and LinkedIn link
  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 83%;

  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 71%;
    padding-left: 6%;

    span {
      display: inline-block;
      font-family: $font-bold;
      font-size: 14vw;
      line-height: 13vw;
      letter-spacing: 0.1rem;

      &:first-child {
        position: relative;
        padding-bottom: 3vh;
        font-size: 1.1vh;
        line-height: 1;
        letter-spacing: 0.05rem;
      }

      &:nth-child(2) {
        color: $primary-color;
      }
    }


    p {
      width: 95%;
      margin-top: 3vh;
      color: #000;
      font-size: 1vh;
      //line-height: unquote('min(1.9rem, 1.55vw)');
      line-height: 2.5vh;
      letter-spacing: 0.15rem;
      text-transform: uppercase;

      a {
        border-bottom: 1px solid $primary-color;
        padding-bottom: 3px;
        color: $primary-color;
        font-family: $font-bold;
        text-decoration: none;
      }
    }
  }
  //Right container with images and animation
  .decorationContainer {
    position: relative;
    display: none;
    width: 50%;
    height: unquote('min(46vw, 100%)');
    max-height: 1080px;
  }

  .decoration {
    position: absolute;
    z-index: 4;
    font-size: unquote('min(0.9rem, 0.8vw)');
    line-height: 1;
    letter-spacing: 0.05rem;
    transform: rotate(-90deg);

    &.positionHtml {
      top: unquote('min(9vw, 19%)');
      left: unquote('min(4.3vw, 8.5%)');
      animation: slidein 5s linear 0.7s infinite alternate;
    }

    &.positionReact {
      bottom: unquote('min(5.6vw, 12.2%)');
      left: unquote('min(11.3vw, 22.8%)');
      animation: slidein 5s linear 1s infinite alternate;
    }

    &.positionScript {
      right: unquote('min(15.8vw, 31.5%)');
      bottom: unquote('min(5.6vw, 12.2%)');
      animation: slidein 5s linear 2.3s infinite alternate;
    }

    &.positionWebpack {
      top: unquote('min(10vw, 21.5%)');
      right: unquote('min(9vw, 18%)');
      animation: slidein 5s linear 0.3s infinite alternate;
    }
  }
  @keyframes slidein {
    0% {
      transform: rotate(-90deg) translateX(0px);
    }
    50% {
      transform: rotate(-90deg) translateX(-25px);
    }
    100% {
      transform: rotate(-90deg) translateX(25px);
    }
  }
  .hobbies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 88%;
    height: 10vw;
    margin: 0 auto;

    span:first-child {
      position: relative;
      bottom: 8%;
      padding-bottom: 3vh;
      font-family: $font-bold;
      font-size: 1.1vh;
      line-height: 1;
      letter-spacing: 0.05rem;
    }
  }
  .hobbiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      img {
        padding-bottom: unquote('min(11%, 0.9vw)');
      }
    }

    span {
      font-family: $font-bold;
      font-size: 1.5vw;
      letter-spacing: 0.07rem;
      text-transform: uppercase;

      &:nth-child(3) {
        padding-top: unquote('min(11%, 0.9vw)');
        padding-bottom: unquote('min(3%, 0.2vw)');
      }

    }
  }


}
@media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3) {
  .section {
    width: 100%;
    max-width: 1366px;
    height: 100vh;
    margin: 0 auto;
    background-color: $background-white;
    color: #000;
    font-family: $font-regular;
  }
  .nav {
    width: 21.5rem;
    margin: 0 auto;
    padding-top: 3.5rem;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .link {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .logo {
    margin-top: -0.8125rem;
    margin-left: 4.4rem;

  }
  //left container with text and LinkedIn link
  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 83%;

  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 71%;
    padding-left: 6%;

    span {
      display: inline-block;
      font-family: $font-bold;
      font-size: 14vw;
      line-height: 13vw;
      letter-spacing: 0.1rem;

      &:first-child {
        position: relative;
        padding-bottom: 3vh;
        font-size: 1.1vh;
        line-height: 1;
        letter-spacing: 0.05rem;
      }

      &:nth-child(2) {
        color: $primary-color;
      }
    }


    p {
      width: 95%;
      margin-top: 3vh;
      color: #000;
      font-size: 1vh;
      //line-height: unquote('min(1.9rem, 1.55vw)');
      line-height: 2.5vh;
      letter-spacing: 0.15rem;
      text-transform: uppercase;

      a {
        border-bottom: 1px solid $primary-color;
        padding-bottom: 3px;
        color: $primary-color;
        font-family: $font-bold;
        text-decoration: none;
      }
    }
  }
  //Right container with images and animation
  .decorationContainer {
    position: relative;
    display: none;
    width: 50%;
    height: unquote('min(46vw, 100%)');
    max-height: 1080px;
  }

  .decoration {
    position: absolute;
    z-index: 4;
    font-size: unquote('min(0.9rem, 0.8vw)');
    line-height: 1;
    letter-spacing: 0.05rem;
    transform: rotate(-90deg);

    &.positionHtml {
      top: unquote('min(9vw, 19%)');
      left: unquote('min(4.3vw, 8.5%)');
      animation: slidein 5s linear 0.7s infinite alternate;
    }

    &.positionReact {
      bottom: unquote('min(5.6vw, 12.2%)');
      left: unquote('min(11.3vw, 22.8%)');
      animation: slidein 5s linear 1s infinite alternate;
    }

    &.positionScript {
      right: unquote('min(15.8vw, 31.5%)');
      bottom: unquote('min(5.6vw, 12.2%)');
      animation: slidein 5s linear 2.3s infinite alternate;
    }

    &.positionWebpack {
      top: unquote('min(10vw, 21.5%)');
      right: unquote('min(9vw, 18%)');
      animation: slidein 5s linear 0.3s infinite alternate;
    }
  }
  @keyframes slidein {
    0% {
      transform: rotate(-90deg) translateX(0px);
    }
    50% {
      transform: rotate(-90deg) translateX(-25px);
    }
    100% {
      transform: rotate(-90deg) translateX(25px);
    }
  }
  .hobbies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 88%;
    height: 10vw;
    margin: 0 auto;

    span:first-child {
      position: relative;
      bottom: 8%;
      padding-bottom: 3vh;
      font-family: $font-bold;
      font-size: 1.1vh;
      line-height: 1;
      letter-spacing: 0.05rem;
    }
  }
  .hobbiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      img {
        padding-bottom: unquote('min(11%, 0.9vw)');
      }
    }

    span {
      font-family: $font-bold;
      font-size: 1.5vw;
      letter-spacing: 0.07rem;
      text-transform: uppercase;

      &:nth-child(3) {
        padding-top: unquote('min(11%, 0.9vw)');
        padding-bottom: unquote('min(3%, 0.2vw)');
      }

    }
  }


}

@media only screen and (min-width: 768px) and (max-height: 1366px) {
  .section {
    width: 100%;
    max-width: 1366px;
    height: 50vh;
    margin: 0 auto;
    background-color: $background-white;
    color: #000;
    font-family: $font-regular;
  }

  .nav {
    width: 21.5rem;
    margin: 0 auto;
    padding-top: 3.5rem;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .link {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .logo {
    margin-top: -0.8125rem;
    margin-left: 4.4rem;

  }
  //left container with text and LinkedIn link
  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: unquote('min(67vw, 76%)');
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100%;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 64%;
    padding-left: 15.3%;

    span {
      display: inline-block;
      font-family: $font-bold;
      font-size: unquote('min(5.07rem, 4.23vw)');
      line-height: unquote('min(6rem, 5vw)');
      letter-spacing: 0.1rem;

      &:first-child {
        position: relative;
        padding-bottom: 0.7%;
        font-size: unquote('min(0.9rem, 0.8vw)');
        line-height: 1;
        letter-spacing: 0.05rem;
      }

      &:nth-child(2) {
        color: $primary-color;
      }
    }


    p {
      width: 78%;
      color: #000;
      font-size: unquote('min(1rem, 1vw)');
      line-height: unquote('min(2.1rem, 1.75vw)');
      text-align: justify;
      letter-spacing: 0.11rem;
      text-transform: uppercase;

      a {
        border-bottom: 1px solid $primary-color;
        padding-bottom: 3px;
        color: $primary-color;
        font-family: $font-bold;
        text-decoration: none;
      }
    }
  }
  //Right container with images and animation
  .decorationContainer {
    position: relative;
    width: 50%;
    height: unquote('min(46vw, 100%)');
    max-height: 1080px;
  }

  .decoration {
    position: absolute;
    z-index: 4;
    font-size: unquote('min(0.9rem, 0.8vw)');
    line-height: 1;
    letter-spacing: 0.05rem;
    transform: rotate(-90deg);

    &.positionHtml {
      top: unquote('min(9vw, 19%)');
      left: unquote('min(4.3vw, 8.5%)');
      animation: slidein 5s linear 0.7s infinite alternate;
    }

    &.positionReact {
      bottom: unquote('min(5.6vw, 12.2%)');
      left: unquote('min(11.3vw, 22.8%)');
      animation: slidein 5s linear 1s infinite alternate;
    }

    &.positionScript {
      right: unquote('min(15.8vw, 31.5%)');
      bottom: unquote('min(5.6vw, 12.2%)');
      animation: slidein 5s linear 2.3s infinite alternate;
    }

    &.positionWebpack {
      top: unquote('min(10vw, 21.5%)');
      right: unquote('min(9vw, 18%)');
      animation: slidein 5s linear 0.3s infinite alternate;
    }
  }
  @keyframes slidein {
    0% {
      transform: rotate(-90deg) translateX(0px);
    }
    50% {
      transform: rotate(-90deg) translateX(-25px);
    }
    100% {
      transform: rotate(-90deg) translateX(25px);
    }
  }
  .hobbies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: unquote('min(36vw, 36%)');
    height: unquote('min(7.2vw, 12.5%)');
    margin: 0 auto;

    span:first-child {
      position: relative;
      bottom: 8%;
      font-family: $font-bold;
      font-size: unquote('min(0.9rem, 0.8vw)');
      line-height: 1;
      letter-spacing: 0.05rem;
    }
  }
  .hobbiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: unquote('min(25%, 9vw)');

      img {
        padding-bottom: unquote('min(11%, 0.9vw)');
      }
    }

    span {
      font-family: $font-bold;
      font-size: unquote('min(0.68vw, 0.8rem)');
      letter-spacing: 0.07rem;
      text-transform: uppercase;

      &:nth-child(3) {
        padding-top: unquote('min(11%, 0.9vw)');
        padding-bottom: unquote('min(3%, 0.2vw)');
      }

    }
  }

}

@media only screen and (min-width: 768px) and (max-height: 1366px) and (orientation: landscape) {
  .section {
    width: 100%;
    max-width: 1366px;
    height: 100vh;
    margin: 0 auto;
    background-color: $background-white;
    color: #000;
    font-family: $font-regular;
  }

  .nav {
    width: 21.5rem;
    margin: 0 auto;
    padding-top: 3.5rem;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .link {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .logo {
    margin-top: -0.8125rem;
    margin-left: 4.4rem;

  }
  //left container with text and LinkedIn link
  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: unquote('min(67vw, 76%)');
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100%;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 64%;
    padding-left: 15.3%;

    span {
      display: inline-block;
      font-family: $font-bold;
      font-size: unquote('min(5.07rem, 4.23vw)');
      line-height: unquote('min(6rem, 5vw)');
      letter-spacing: 0.1rem;

      &:first-child {
        position: relative;
        padding-bottom: 0.7%;
        font-size: unquote('min(0.9rem, 0.8vw)');
        line-height: 1;
        letter-spacing: 0.05rem;
      }

      &:nth-child(2) {
        color: $primary-color;
      }
    }


    p {
      width: 78%;
      color: #000;
      font-size: unquote('min(1rem, 1vw)');
      line-height: unquote('min(2.1rem, 1.75vw)');
      text-align: justify;
      text-align-last: justify;
      letter-spacing: 0.15rem;
      text-transform: uppercase;

      a {
        border-bottom: 1px solid $primary-color;
        padding-bottom: 3px;
        color: $primary-color;
        font-family: $font-bold;
        text-decoration: none;
      }
    }
  }
  //Right container with images and animation
  .decorationContainer {
    position: relative;
    width: 50%;
    height: unquote('min(46vw, 100%)');
    max-height: 1080px;
  }

  .decoration {
    position: absolute;
    z-index: 4;
    font-size: unquote('min(0.9rem, 0.8vw)');
    line-height: 1;
    letter-spacing: 0.05rem;
    transform: rotate(-90deg);

    &.positionHtml {
      top: unquote('min(9vw, 19%)');
      left: unquote('min(4.3vw, 8.5%)');
      animation: slidein 5s linear 0.7s infinite alternate;
    }

    &.positionReact {
      bottom: unquote('min(5.6vw, 12.2%)');
      left: unquote('min(11.3vw, 22.8%)');
      animation: slidein 5s linear 1s infinite alternate;
    }

    &.positionScript {
      right: unquote('min(15.8vw, 31.5%)');
      bottom: unquote('min(5.6vw, 12.2%)');
      animation: slidein 5s linear 2.3s infinite alternate;
    }

    &.positionWebpack {
      top: unquote('min(10vw, 21.5%)');
      right: unquote('min(9vw, 18%)');
      animation: slidein 5s linear 0.3s infinite alternate;
    }
  }
  @keyframes slidein {
    0% {
      transform: rotate(-90deg) translateX(0px);
    }
    50% {
      transform: rotate(-90deg) translateX(-25px);
    }
    100% {
      transform: rotate(-90deg) translateX(25px);
    }
  }
  .hobbies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: unquote('min(36vw, 36%)');
    height: unquote('min(7.2vw, 12.5%)');
    margin: 0 auto;

    span:first-child {
      position: relative;
      bottom: 8%;
      font-family: $font-bold;
      font-size: unquote('min(0.9rem, 0.8vw)');
      line-height: 1;
      letter-spacing: 0.05rem;
    }
  }
  .hobbiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: unquote('min(25%, 9vw)');

      img {
        padding-bottom: unquote('min(11%, 0.9vw)');
      }
    }

    span {
      font-family: $font-bold;
      font-size: unquote('min(0.68vw, 0.8rem)');
      letter-spacing: 0.07rem;
      text-transform: uppercase;

      &:nth-child(3) {
        padding-top: unquote('min(11%, 0.9vw)');
        padding-bottom: unquote('min(3%, 0.2vw)');
      }

    }
  }

}

@media only screen and (min-width: 1025px) {
  .section {
    width: 100%;
    max-width: 1920px;
    height: unquote('min(100vh, 1080px)');
    max-height: 1080px;
    margin: 0 auto;
    background-color: $background-white;
    color: #000;
    font-family: $font-regular;
  }

  .nav {
    width: 21.5rem;
    margin: 0 auto;
    padding-top: 3.5rem;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .link {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .logo {
    margin-top: -0.8125rem;
    margin-left: 4.4rem;

  }
  //left container with text and LinkedIn link
  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: unquote('min(46.3vw, 82.5%)');
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100%;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 64%;
    padding-left: 15.3%;

    span {
      display: inline-block;
      font-family: $font-bold;
      font-size: unquote('min(5.07rem, 4.23vw)');
      line-height: unquote('min(6rem, 5vw)');
      letter-spacing: 0.1rem;

      &:first-child {
        position: relative;
        padding-bottom: 0.7%;
        font-size: unquote('min(0.9rem, 0.8vw)');
        line-height: 1;
        letter-spacing: 0.05rem;
      }

      &:nth-child(2) {
        color: $primary-color;
      }
    }


    p {
      width: 78%;
      color: #000;
      font-size: unquote('min(0.76rem, 0.65vw)');
      line-height: unquote('min(1.9rem, 1.55vw)');
      text-align: justify;
      letter-spacing: 0.15rem;
      text-transform: uppercase;

      a {
        border-bottom: 1px solid $primary-color;
        padding-bottom: 3px;
        color: $primary-color;
        font-family: $font-bold;
        text-decoration: none;
      }
    }
  }
  //Right container with images and animation
  .decorationContainer {
    position: relative;
    width: 50%;
    height: unquote('min(46vw, 100%)');
    max-height: 1080px;
  }

  .decoration {
    position: absolute;
    z-index: 4;
    font-size: unquote('min(0.9rem, 0.8vw)');
    line-height: 1;
    letter-spacing: 0.05rem;
    transform: rotate(-90deg);

    &.positionHtml {
      top: unquote('min(9vw, 19%)');
      left: unquote('min(4.3vw, 8.5%)');
      animation: slidein 5s linear 0.7s infinite alternate;
    }

    &.positionReact {
      bottom: unquote('min(5.6vw, 12.2%)');
      left: unquote('min(11.3vw, 22.8%)');
      animation: slidein 5s linear 1s infinite alternate;
    }

    &.positionScript {
      right: unquote('min(15.8vw, 31.5%)');
      bottom: unquote('min(5.6vw, 12.2%)');
      animation: slidein 5s linear 2.3s infinite alternate;
    }

    &.positionWebpack {
      top: unquote('min(10vw, 21.5%)');
      right: unquote('min(9vw, 18%)');
      animation: slidein 5s linear 0.3s infinite alternate;
    }
  }
  @keyframes slidein {
    0% {
      transform: rotate(-90deg) translateX(0px);
    }
    50% {
      transform: rotate(-90deg) translateX(-25px);
    }
    100% {
      transform: rotate(-90deg) translateX(25px);
    }
  }
  .hobbies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: unquote('min(33vw, 33%)');
    height: unquote('min(7.2vw, 12.5%)');
    margin: 0 auto;

    span:first-child {
      position: relative;
      bottom: 8%;
      font-family: $font-bold;
      font-size: unquote('min(0.9rem, 0.8vw)');
      line-height: 1;
      letter-spacing: 0.05rem;
    }
  }
  .hobbiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: unquote('min(25%, 9vw)');

      img {
        padding-bottom: unquote('min(11%, 0.9vw)');
      }
    }

    span {
      font-family: $font-bold;
      font-size: unquote('min(0.68vw, 0.8rem)');
      letter-spacing: 0.07rem;
      text-transform: uppercase;

      &:nth-child(3) {
        padding-top: unquote('min(11%, 0.9vw)');
        padding-bottom: unquote('min(3%, 0.2vw)');
      }

    }
  }

}
