@font-face {
  font-family: "HelveticaNeueLTRoman";
  src: local("Helvetica Neue LT Com 55 Roman"), local("HelveticaNeueLTCom-Roman"), url("../fonts/HelveticaNeueLTCom-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTCom-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueLTBold";
  src: local("Helvetica Neue LT Com 75 Bold"), local("HelveticaNeueLTCom-Bd"), url("../fonts/HelveticaNeueLTCom-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeueLTCom-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@media only screen and (min-device-width: 414px) and (max-device-width: 812px) {
  .section {
    width: 100%;
    max-width: 1920px;
    height: 2000px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #000;
    font-family: HelveticaNeueLTRoman, sans-serif;
  }

  .carouselContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 800px;
    margin: 0 auto;
  }

  .arrowPrev {
    width: 50px;
    height: 50px;
  }

  .arrowNext {
    width: 50px;
    height: 50px;
  }

  .container {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }

  .wrapper {
    position: absolute;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .wrapper img {
    flex: 1;
    width: 300px;
    height: 300px;
    margin-left: 30px;
  }
}
@media only screen and (min-device-width: 1025px) {
  .carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 52%;
    height: 100%;
  }

  .carouselContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 76%;
  }

  .arrowContainer {
    position: absolute;
    z-index: 2;
    top: 33%;
    right: 6%;
    display: none;
  }

  .arrowPrev {
    width: 2vw;
    height: 2vw;
  }
  .arrowPrev:hover {
    stroke: #000;
  }

  .arrowNext {
    width: 2vw;
    height: 2vw;
  }
  .arrowNext:hover {
    stroke: #fff;
  }

  .imgContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .wrapper {
    position: absolute;
    display: flex;
    overflow: hidden;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .wrapper img {
    flex: 1;
    width: min(34.2vw, 40.8rem);
    margin: 0 0.8vw;
  }

  .description {
    width: 100%;
    height: 100%;
    background-color: green;
  }
}

/*# sourceMappingURL=carousel.module.css.map */
