@import "fonts";
@import "colors";


@media only screen and (min-device-width: 414px) and (max-device-width: 812px) {

  .section {
    width: 100%;
    max-width: 1920px;
    height: 2000px;
    margin: 0 auto;
    background-color: $background-white;
    color: #000;
    font-family: $font-regular;
  }

  .carouselContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 800px;
    margin: 0 auto;
  }


  .arrowPrev {
    width: 50px;
    height: 50px;
  }

  .arrowNext {
    width: 50px;
    height: 50px;
  }

  .container {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }

  .wrapper {
    position: absolute;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    img {
      flex: 1;
      width: 300px;
      height: 300px;
      margin-left: 30px;
    }
  }


}

@media only screen and (min-device-width: 1025px) {

  .section {
    width: 100%;
    max-width: 1920px;
    height: 2000px;
    margin: 0 auto;
    background-color: $background-white;
    color: #000;
    font-family: $font-regular;
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 800px;
    margin: 0 auto;
  }


  .arrowPrev {
    width: 50px;
    height: 50px;
  }

  .arrowNext {
    width: 50px;
    height: 50px;
  }

  .container {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }

  .wrapper {
    position: absolute;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    img {
      flex: 1;
      width: 300px;
      height: 300px;
      margin-left: 30px;
    }
  }
}


