@font-face {
  font-family: "HelveticaNeueLTRoman";
  src: local("Helvetica Neue LT Com 55 Roman"), local("HelveticaNeueLTCom-Roman"), url("../fonts/HelveticaNeueLTCom-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTCom-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueLTBold";
  src: local("Helvetica Neue LT Com 75 Bold"), local("HelveticaNeueLTCom-Bd"), url("../fonts/HelveticaNeueLTCom-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeueLTCom-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 767px) {
  form {
    display: table;
    width: 100%;
    margin-top: 1vh;
  }
  form input,
form textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 6%;
    padding: 6%;
    font: 1rem HelveticaNeueLTRoman, sans-serif;
    transition: all 0.2s ease-in-out;
    outline: none;
  }
  form input::placeholder,
form textarea::placeholder {
    color: #999;
    font-family: HelveticaNeueLTRoman, sans-serif;
    font-size: min(2.5vw, 1.4vh);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  form input:focus, form input.populated,
form textarea:focus,
form textarea.populated {
    padding-top: 28px;
    padding-bottom: 12px;
  }
  form input:focus::placeholder, form input.populated::placeholder,
form textarea:focus::placeholder,
form textarea.populated::placeholder {
    color: transparent;
  }
  form textarea {
    height: 40%;
  }
  form button {
    width: 73%;
    height: min(11vw, 6vh);
    border: 2px solid #ffcc00;
    border-radius: 1.9rem;
    margin-top: 2vh;
    background-color: transparent;
    color: #ffcc00;
    font-family: HelveticaNeueLTBold, sans-serif;
    font-size: min(3.2vw, 1.8vh);
    text-transform: uppercase;
  }
  form button:hover {
    background: #000;
    cursor: pointer;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3) {
  form {
    display: table;
    width: 100%;
    margin-top: 1vh;
  }
  form input,
form textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 6%;
    padding: 6%;
    font: 1rem HelveticaNeueLTRoman, sans-serif;
    transition: all 0.2s ease-in-out;
    outline: none;
  }
  form input::placeholder,
form textarea::placeholder {
    color: #999;
    font-family: HelveticaNeueLTRoman, sans-serif;
    font-size: min(2.5vw, 1.4vh);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  form input:focus, form input.populated,
form textarea:focus,
form textarea.populated {
    padding-top: 28px;
    padding-bottom: 12px;
  }
  form input:focus::placeholder, form input.populated::placeholder,
form textarea:focus::placeholder,
form textarea.populated::placeholder {
    color: transparent;
  }
  form textarea {
    height: 40%;
  }
  form button {
    width: 73%;
    height: min(11vw, 6vh);
    border: 2px solid #ffcc00;
    border-radius: 1.9rem;
    margin-top: 2vh;
    background-color: transparent;
    color: #ffcc00;
    font-family: HelveticaNeueLTBold, sans-serif;
    font-size: min(3.2vw, 1.8vh);
    text-transform: uppercase;
  }
  form button:hover {
    background: #000;
    cursor: pointer;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-height: 1366px) {
  form {
    display: table;
    width: 100%;
    margin-top: 1vh;
  }
  form input, form textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 6%;
    padding: 6%;
    font-family: HelveticaNeueLTRoman, sans-serif;
    font-size: min(1rem, 1vw);
    transition: all 0.2s ease-in-out;
    outline: none;
  }
  form input::placeholder, form textarea::placeholder {
    color: #999;
    font-family: HelveticaNeueLTRoman, sans-serif;
    font-size: min(2.5vw, 1.4vh);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  form input:focus, form input.populated, form textarea:focus, form textarea.populated {
    padding-top: 28px;
    padding-bottom: 12px;
  }
  form input:focus::placeholder, form input.populated::placeholder, form textarea:focus::placeholder, form textarea.populated::placeholder {
    color: transparent;
  }
  form textarea {
    height: 60%;
  }
  form button {
    width: min( 14vw, 69%);
    height: min(4.1vw, 5.3vh);
    border: 2px solid #ffcc00;
    border-radius: 1.9rem;
    margin-top: 3vh;
    background-color: transparent;
    color: #ffcc00;
    font-family: HelveticaNeueLTBold, sans-serif;
    font-size: min(2vh, 1.3vw);
    text-transform: uppercase;
  }
  form button:hover {
    background: #000;
    cursor: pointer;
  }
}
@media only screen and (min-device-width: 1025px) {
  form {
    display: table;
    width: 100%;
    margin-top: 1vh;
  }
  form input, form textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 6%;
    padding: 6%;
    font: 1rem HelveticaNeueLTRoman, sans-serif;
    transition: all 0.2s ease-in-out;
    outline: none;
  }
  form input::placeholder, form textarea::placeholder {
    color: #999;
    font-family: HelveticaNeueLTRoman, sans-serif;
    font-size: min(1rem, 1vw);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  form input:focus, form input.populated, form textarea:focus, form textarea.populated {
    padding-top: 28px;
    padding-bottom: 12px;
  }
  form input:focus::placeholder, form input.populated::placeholder, form textarea:focus::placeholder, form textarea.populated::placeholder {
    color: transparent;
  }
  form textarea {
    height: 60%;
  }
  form button {
    width: 51%;
    height: max(2.4vw, 22%);
    max-height: 218px;
    border: 2px solid #ffcc00;
    border-radius: 1.9rem;
    margin-top: 3vh;
    background-color: transparent;
    color: #ffcc00;
    font-family: HelveticaNeueLTBold, sans-serif;
    font-size: min(1vw, 1.15rem);
    text-transform: uppercase;
  }
  form button:hover {
    background: #ffcc00;
    color: #000;
    cursor: pointer;
  }
}

/*# sourceMappingURL=form.module.css.map */
